<main class="footer">
  <div class="logos">
    <figure class="logo_container">
      <a
        class="link"
        href="{{linkedin}}"
        target="_blank"
        ><img
          src="assets/img/linkedin.svg"
          class="logo box"
          alt="linkedin"
        />Linkedin</a
      >
    </figure>

    <img src="assets/img/Logo.svg" routerLink="" class="logo box" />
    <a class="link" href="{{github}}" target="_blank"
      ><img
        src="assets/img/github.svg"
        class="logo box"
        alt="github"
      />GitHub</a
    >
  </div>
  <div class="credits">
    <p><a class="link" href="https://www.freepik.es/vector-gratis/servicio-consultoria-asesoria-financiera-soporte-experto-personajes-dibujos-animados-empresaria-asesor-servicio-asistencia-asesoramiento-empresarial-vector-ilustracion-metafora-concepto-aislado_10782629.htm#page=6&query=proyect&position=40&from_view=author">Imagenes de vectorjuice</a> en Freepik</p>
  </div>
</main>
