.nav {
  margin: 0;
  width: 170px;
  z-index: 12;
  height: 100vh;
  background: var(--color4);
}
.hamburguer {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 4px 5px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  background-color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 6;
}
.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin-block: 5px;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}
.hamburguer.menu .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburguer.menu .line:nth-child(2) {
  opacity: 0;
}
.hamburguer.menu .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* .touch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
} */

.list {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 4px;
  list-style: none;
  justify-content: space-evenly;
  z-index: 5;
  box-shadow: -8px -8px 10px -10px rgba(0, 0, 0, 1) inset;
}

.item,
.button {
  margin: 10px auto;
  padding-right: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}

.a_item {
  display: flex;
  color: var(--text);
  height: 100%;
  align-items: center;
  padding: 0 3px 0 0;
  margin: 10px auto;
}

.img {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color1);
  padding: 3px;
  margin: 0 4px 0 0;
}

.item:hover,
.item:active {
  outline: 1px solid white;
  box-shadow: rgba(255, 255, 255, 0.79) 0 2px 1.2px;
  transition: all ease-in-out 0.8s;
}

.blue_theme,
.red_theme,
.green_theme,
.dark_theme {
  display: none;
  border-radius: 50%;
  color: transparent;
  z-index: 89;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  animation: moveIt 1s ease-in-out forwards;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform-origin: center center;
}

.blue_theme {
  background-color: #003567;
  top: 56px;
  right: 157px;
}
.red_theme {
  background-color: #761622;
  top: 114px;
  right: 133px;
}
.green_theme {
  background-color: #356600;
  top: 158px;
  right: 89px;
}

.dark_theme {
  background-color: #1a1a1a;
  top: 181px;
  right: 31px;
}
@keyframes moveIt {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    color: white;
  }
}
@media screen and (max-width: 400px) {
  .a_item {
    font-size: 12px;
  }
  .item {
    margin: 6px auto;
  }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
  .a_item {
    font-size: 14px;
  }
  .item {
    margin: 10px auto;
  }
}
@media screen and (min-width: 600px) {
  .list {
    position: sticky;
    border-radius: 0;
    margin: 0;
    width: 170px;
    height: 100vh;
    /* transform: none; */
    /* flex-direction: row; */
    padding: 150px 0 0 0;
    box-shadow: 0 -8px 10px -10px rgba(0, 0, 0, 1) inset;
    /*   transform: translateX(-100%);
  animation: move 0.7s ease-in-out forwards;
}
@keyframes move {
  0%,
  30% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
 */
  }
  .hamburguer {
    display: none;
  }
  .item {
    margin: 2px auto;
    width: fit-content;
    padding-right: 5px;
  }
}
