<div class="header">
  <img
    src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1666041412/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png"
    alt="ONE logo"
    class="argpro"
  />
  <div class="container">
    <a href="{{ user.linkedin }}" target="_blank"
      ><img src="assets/img/linkedin.svg" class="header_in box" alt="linkedin"
    /></a>
    <div class="icon_curtain"></div>
    <img class="picture" src="{{ user.img }}" alt="Foto Perfil" />
    <a href="{{ user.github }}" target="_blank"
      ><img src="assets/img/github.svg" class="header_git box" alt="github"
    /></a>
  </div>
</div>
