<app-spinner-interceptor *ngIf="isLoading"></app-spinner-interceptor>
<section class="body">
  <app-header [user]="user"> </app-header>
  <app-skills class="skills"></app-skills>
  <div class="presentation">
    <ng-container *ngIf="edithMode">
      <button routerLink="newUser" class="btn add_btn"
        >Editar usuario</button
      >
    </ng-container>
      <h2>Hola!</h2>
      <p class="text_presentation">
        Mi nombre es {{ user.name }} {{ user.surname }}, tengo {{user.age}} años y soy desarrollador web
        full stack Junior.
      </p>

      <a routerLink="contacto" class="btn">Contactar</a>

    <img class="arrow" src="assets/img/arrowDown.svg" />
  </div>
</section>
<div class="ill_container">
  <img class="illustration" src="assets/img/illustrations/ill-01.png">
  <p>{{user.description}}</p>
</div>

  <app-education></app-education>
  <app-soft-skills></app-soft-skills>
  <app-user-exp></app-user-exp>
<section>
  <ng-container *ngIf="isLogged">
    <ng-container *ngIf="!edithMode">
      <div class="btn add_btn" (click)="edithModeEnter()">
        Entrar en modo de edición
      </div>
    </ng-container>
    <ng-container *ngIf="edithMode">
      <div class="btn add_btn" (click)="edithModeExit()">
        Salir modo de edición
      </div>
    </ng-container>
  </ng-container>
</section>

